{% extends 'layout.html'%}
{% block body %}
<style>
    #stationmap {
        width: 100%;
        height: 600px;
        position: relative;
        overflow: hidden;
    }
    .nav-tabs {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
</style>
<div class="container-fluid py-4">
    <div class="row justify-content-center">
        <div class="col-10">
            <div class="row justify-content-around">
                <div class="col-5 p-3 rounded-4 bg-white shadow-sm">
                    <form id="weatherinputForm" class="needs-validation" novalidate>
                        <div class="row">
                            <div class="col-6 text-center">
                                <label for="latitude">Breitengrad</label>
                                <input class="form-control form-control-sm latlon" type="text" id="latitude" name="latitude" required pattern="^-?(90(\.0{1,6})?|[0-8]?[0-9](\.\d{1,6})?)$">
                                <div class="invalid-feedback">Bitte geben Sie einen gültigen Breitengrad im Bereich -90.000000 bis 90.0000000</div>
                            </div>
                            <div class="col-6 text-center">
                                <label for="longitude">Längengrad</label>
                                <input class="form-control form-control-sm latlon" type="text" id="longitude" name="longitude" required pattern="^-?(180(\.0+)?|((1[0-7][0-9])|([0-9]{1,2}))(\.\d+)?)$">
                                <div class="invalid-feedback">Bitte geben Sie einen gültigen Längengrad im Bereich von -180.000000 bis 180.000000 an.</div>
                            </div>
                            <div class="container mt-3">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <label for="rangeradius" class="form-label">Radius</label>
                                        <div class="d-flex align-items-center">
                                            <input type="range" class="form-range me-3 ranger radius" min="1" max="100" step="1" id="rangeradius" oninput="document.getElementById('rangeradiusinput').value = this.value" required>
                                            <div class="input-group">
                                                <input type="number" min="1" max="100" step="1" id="rangeradiusinput" class="form-control form-control-sm text-center w-25 rangerinput" value="50" oninput="if(validity.valid) { rangeradius.value = this.value; } else { this.value = ''; }" required>
                                                <div class="invalid-feedback">Bitte wählen Sie einen Radius von 1 bis 100 aus.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container mt-3">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <label for="rangestation" class="form-label">Station</label>
                                        <div class="d-flex align-items-center">
                                            <input type="range" class="form-range me-3 ranger station" min="1" max="10" step="1" id="rangestation" oninput="document.getElementById('rangestationinput').value = this.value" required>
                                            <div class="input-group">
                                                <input type="number" id="rangestationinput" min="1" max="10" step="1" class="form-control form-control-sm text-center w-25 rangerinput" value="5" oninput="if(validity.valid) { rangestation.value = this.value; } else { this.value = ''; }" required>
                                                <div class="invalid-feedback">Bitte wählen Sie eine Stationsanzahl von 1 bis 10 aus.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 text-center">
                                <label for="datefrom">Von (Jahr)</label>
                                <input class="form-control form-control-sm datefrom" type="number" max="{{ year_range.maxYear }}" min="{{ year_range.minYear }}" id="datefrom" name="datefrom" required>
                                <div class="invalid-feedback">Bitte wählen Sie ein gültiges Jahr zwischen {{ year_range.minYear }} und {{ year_range.maxYear }} aus.</div>
                            </div>
                            <div class="col-6 text-center">
                                <label for="dateto">Bis (Jahr)</label>
                                <input class="form-control form-control-sm dateto" type="number" max="{{ year_range.maxYear }}" min="{{ year_range.minYear }}" id="dateto" name="dateto" required>
                                <div class="invalid-feedback">Bitte wählen Sie ein gültiges Jahr zwischen {{ year_range.minYear }} und {{ year_range.maxYear }} aus.</div>
                            </div>
                            <div class="text-center mx-auto pt-4">
                                <button id="findstations" class="btn btn-primary">Stationen suchen</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-5 p-3 rounded-4 bg-white shadow-sm d-flex justify-content-center align-items-center">
                    <div id="stationmap" style="width: 100%; height: 100%;">  
                    </div>
                    <style>
                        .leaflet-control-attribution {
                            display: none !important;
                        }
                    </style>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-12 p-3 rounded-4 bg-white shadow-sm" style="min-height: 550px;max-height:550px">
                  <div id="stationContent">
                    <ul class="nav nav-pills mb-3 d-flex justify-content-center" id="outer-tab" role="tablist">
                      <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="outer-table-tab" data-bs-toggle="pill" data-bs-target="#outer-table" type="button" role="tab" aria-controls="outer-table" aria-selected="true">
                          Tabellen
                        </button>
                      </li>
                      <li class="nav-item" role="presentation">
                        <button class="nav-link" id="outer-chart-tab" data-bs-toggle="pill" data-bs-target="#outer-chart" type="button" role="tab" aria-controls="outer-chart" aria-selected="false">
                          Chart
                        </button>
                      </li>
                    </ul>
                    <div class="tab-content" id="outer-tabContent" >
                      <div class="tab-pane fade show active" id="outer-table" role="tabpanel" aria-labelledby="outer-table-tab" tabindex="0">
                        <ul class="nav nav-tabs" id="inner-tab" role="tablist">
                          <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="inner-yearly-tab" data-bs-toggle="tab" data-bs-target="#inner-yearly" type="button" role="tab" aria-controls="inner-yearly" aria-selected="true">
                              Jährlich
                            </button>
                          </li>
                          <li class="nav-item" role="presentation">
                            <button class="nav-link" id="inner-season-tab" data-bs-toggle="tab" data-bs-target="#inner-season" type="button" role="tab" aria-controls="inner-season" aria-selected="false">
                              Jahreszeiten
                            </button>
                          </li>
                        </ul>
                        <div class="tab-content d-flex justify-content-center" id="inner-tabContent">
                          <div class="tab-pane fade show active" id="inner-yearly" role="tabpanel" aria-labelledby="inner-yearly-tab" tabindex="0">
                            <div id="yearlyData" class="dataContainer" style="overflow:auto;max-height:400px">
                                <div>Bitte wählen Sie eine Station aus!</div>
                            </div>
                          </div>
                          <div class="tab-pane fade" id="inner-season" role="tabpanel" aria-labelledby="inner-season-tab" tabindex="0">
                            <div id="seasonData" class="dataContainer" style="overflow:auto;max-height:400px">
                                <div>Bitte wählen Sie eine Station aus!</div>
                              </div>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane fade d-flex justify-content-center" style="overflow:auto" id="outer-chart" role="tabpanel" aria-labelledby="outer-chart-tab" tabindex="0">
                        <div>
                          <canvas id="stationChart" width="900" height="400"></canvas>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>
<script>
    let stationChart;
    let chartinstance;
    stationChart = $("#stationChart");
    chartinstance = new Chart(stationChart, {
        type: 'line',
        options: {
            plugins:{
                legend:{
                    labels:{
                        usePointStyle:true,
                    }
                }
            },
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
    const map = L.map('stationmap').setView([48.0594, 8.4641], 13);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);
    var markersLayer = L.layerGroup().addTo(map)
    $(function() {
        $('#weatherinputForm').on('submit', function(e){
            e.preventDefault();
            if (!this.checkValidity()) {
                e.stopPropagation();
            }else{
                var lat = $("#latitude").val();
                var lon = $("#longitude").val();
                var radius = $("#rangeradiusinput").val();
                var station_count = $("#rangestationinput").val();
                let datefrom = $("#datefrom").val();
                let dateto = $("#dateto").val();
                $.ajax({
                        url: '/get_stations',
                        method: 'GET',
                        data: {
                            lat: lat,
                            lon: lon,
                            radius: radius,
                            stations: station_count,
                            datefrom:datefrom,
                            dateto:dateto
                        },
                        success: function(response) {
                            fillMapData(response)
                        },
                        error: function(xhr, status, error) {
                            console.error('Fehler beim Abrufen der Stationen:', status, error);
                        }
                });
            }
            $(this).addClass('was-validated');
        });

    });
        
    function getStationData(stationid){
        $("#stationContent").block();
        clearChartData();
        clearTableData();
        let datefrom = $("#datefrom").val();
        let dateto = $("#dateto").val();
        $.ajax({
                url: '/get_station_data',
                method: 'GET',
                data: {
                    stationid:stationid,
                    datefrom:datefrom,
                    dateto:dateto
                },
                success: function(response) {
                    fillChartData(response.data)
                    $("#seasonData").html(response.seasontemplate);
                    $("#yearlyData").html(response.yearlytemplate);
                },
                complete: function(){
                    $("#stationContent").unblock();
                },
                error: function(xhr, status, error) {
                    swal("Fehler", xhr.responseJSON.error, "error");
                }
        });
    }

    function clearChartData(){
        chartinstance.data.labels = []; 
        chartinstance.data.datasets.forEach(dataset => {
            dataset.data = []; 
        });
        chartinstance.update();
    }

    function clearTableData(){
        $(".dataContainer").html("<div>Bitte wählen Sie eine Station aus!</div>");
    }

    function fillChartData(data){
        chartinstance.data = {
            labels: data.years,
            datasets: [
                { 
                    label: 'Jahr Max Temp', 
                    data: data.seasons.Jahr.max, 
                    borderColor: 'rgba(112, 48, 160, 1)', 
                    backgroundColor: 'rgba(112, 48, 160, 1)'
                },
                { 
                    label: 'Jahr Min Temp', 
                    data: data.seasons.Jahr.min, 
                    borderColor: 'rgba(229, 158, 221, 1)', 
                    backgroundColor: 'rgba(229, 158, 221, 1)', 
                },
                { 
                    label: 'Frühling Max Temp', 
                    data: data.seasons.Frühling.max, 
                    borderColor: 'rgba(19, 80, 27, 1)', 
                    backgroundColor: 'rgba(19, 80, 27, 1)', 
                },
                { 
                    label: 'Frühling Min Temp', 
                    data: data.seasons.Frühling.min, 
                    borderColor: 'rgba(180, 229, 162, 1)', 
                    backgroundColor: 'rgba(180, 229, 162, 1)', 
                },
                { 
                    label: 'Sommer Max Temp', 
                    data: data.seasons.Sommer.max, 
                    borderColor: 'rgba(242, 5, 5, 1)', 
                    backgroundColor: 'rgba(242, 5, 5, 1)', 
                },
                { 
                    label: 'Sommer Min Temp', 
                    data: data.seasons.Sommer.min, 
                    borderColor: 'rgba(242, 5, 5, 0.5)', 
                    backgroundColor: 'rgba(242, 5, 5, 0.5)',  
                },
                { 
                    label: 'Herbst Max Temp', 
                    data: data.seasons.Herbst.max, 
                    borderColor: 'rgba(91, 58, 45, 1)', 
                    backgroundColor: 'rgba(91, 58, 45, 1)', 
                },
                { 
                    label: 'Herbst Min Temp', 
                    data: data.seasons.Herbst.min, 
                    borderColor: 'rgba(182, 128, 95, 1)', 
                    backgroundColor: 'rgba(182, 128, 95, 1)',
                },
                { 
                    label: 'Winter Max Temp', 
                    data: data.seasons.Winter.max, 
                    borderColor: '#1035EB', 
                    backgroundColor: '#1035EB', 
                },
                { 
                    label: 'Winter Min Temp', 
                    data: data.seasons.Winter.min, 
                    borderColor: 'rgba(150, 229, 248, 1)', 
                    backgroundColor: 'rgba(150, 229, 248, 1)',
     
                }
            ]
        };
        chartinstance.options.plugins.legend.position = 'right';
        chartinstance.update();
    }

    function fillMapData(stationjson){
        markersLayer.clearLayers();
        var center = stationjson.center;
        let selectedStationIsCenter = false;
        let circle = L.circle([center.lat, center.lon], {
            color: 'red',
            fillColor: 'blue',
            fillOpacity: 0.4,
            radius: center.radius,
            weight:0
        }).addTo(markersLayer);
        map.fitBounds(circle.getBounds());
        stationjson.stations.forEach(function(station) {
            var lat = station.lat;
            var lon = station.lon;
            var address = station.address;
            var id = station.id;
            var km = station.km;
            let marker = L.marker([lat, lon]).addTo(markersLayer);
            if(center.lat == lat && center.lon == lon){
                selectedStationIsCenter = true;
                marker._icon.style.filter = "hue-rotate(120deg)";
            }
            marker.bindPopup(`<span><b>Station: </b>${id}</br><b>Ort:</b> ${address}</br><b>Entfernung:</b> ${km}</br><b>Längengrad:</b> ${lat}</br><b>Breitengrad:</b> ${lon}</span><div class="pt-2"><button id='${id}' style="--bs-btn-padding-y: .2rem; --bs-btn-padding-x: .4rem; --bs-btn-font-size: .7rem;" class='btn btn-sm btn-success' onclick='getStationData("${id}")'>Auswählen</button></div>`);
        });
        if(!selectedStationIsCenter){
            let marker = L.marker([center.lat,center.lon]).addTo(markersLayer);
            marker.bindPopup(center.adress);
            marker._icon.style.filter = "hue-rotate(120deg)"
        }
    }

    $(".latlon").on("keyup",function(){
        let value = this.value;
        value = value.replace(/[^0-9,.-]/g, "");
        value = value.replace(/,/g, ".");
        if (value.includes("-")) {
            value = "-" + value.replace(/-/g, "");
        }
        // keine weitere Punkte erlauben
        let parts = value.split(".");
        if (parts.length > 2) {
            value = parts[0] + "." + parts.slice(1).join("");
        }
        this.value = value;
    })
</script>
{% endblock %}