{% extends 'layout.html'%}

{% block body %}
<div class="container-fluid py-4">
    <div class="d-flex justify-content-center">
        <div class="d-flex justify-content-center w-75 align-items-center rounded-4 py-4 bg-white shadow-sm">
            <div class="row">
                <div class="col-5 text-center mx-auto">
                    <label for="latitude">Breitengrad</label>
                    <input class="form-control-sm form-control" id="latitude" name="latitude">
                </div>
                <div class="col-5 text-center mx-auto">
                    <label for="latitude">Längengrad</label>
                    <input class="form-control-sm form-control" id="longitude" name="longitude">
                </div>
                <div class="col-11 text-center mx-auto">
                    <label for="rangeradius" class="form-label">Radius</label>
                    <input type="range" class="form-range" min="0" max="100" step="5" id="rangeradius">
                    <input type="text" id="rangeradiusinput" class="form-control form-control-sm w-25 mx-auto text-center" value="50">
                </div>
                <div class="col-11 text-center mx-auto">
                    <label for="rangestation" class="form-label">Anzahl Stationen</label>
                    <input type="range" class="form-range" min="0" max="100" step="5" id="rangestation">
                    <input type="text" id="rangestationinput" class="form-control form-control-sm w-25 mx-auto text-center" value="50">
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded",function(){
        document.getElementById("rangeradius").addEventListener("input",function(){
            console.log(this.value);
        })

    })
</script>
{% endblock %}