<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DHBW Weather Station</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
    <link rel="icon" type="favicon.ico" type="image/x-icon" href="{{url_for('static',filename='images/favicon.ico')}}"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <style>
        .map-container {
            width: 70%;
            height: 250px; 
            flex: 1;
            min-width: 250px; 
        }
    </style>
</head>
<body>
 
  <header class="d-flex justify-content-center pt-2">
    <nav class="navbar bg-nav bg-white rounded-4 shadow-sm justify-content-around"  style="min-width: 85vw;">
        <a class="navbar-brand" href="#">
          <img src="{{url_for('static',filename='images/cloudy.svg')}}" width="40px" height="38px" alt="Bootstrap" width="30" height="24">
          DHBW Wetter Station
        </a>
      </nav>
</header>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.blockUI.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
    <script>
      $.blockUI.defaults.css = {
        padding:	0,
				margin:		0,
				width:		'30%',
				top:		'40%',
				left:		'35%',
				textAlign:	'center',
				color:		'grey',
				cursor:		'wait'
      };
    </script>
    {% block body%}{% endblock %}
</body>
</html>