
{% if data %}
    <table class="table" style="min-width:50vw">
        <thead>
            <tr class="sticky-top">
                <th>Jahr</th>
                <th colspan="2">Frühling</th>
                <th colspan="2">Sommer</th>
                <th colspan="2">Herbst</th>
                <th colspan="2">Winter</th>
            </tr>
            <tr>
                <th></th>
                <th class="text-info"><i class="bi bi-thermometer-snow"></i>°C</th>
                <th class="text-danger"><i class="bi bi-thermometer-sun"></i>°C</th>
                <th class="text-info"><i class="bi bi-thermometer-snow"></i>°C</th>
                <th class="text-danger"><i class="bi bi-thermometer-sun"></i>°C</th>
                <th class="text-info"><i class="bi bi-thermometer-snow"></i>°C</th>
                <th class="text-danger"><i class="bi bi-thermometer-sun"></i>°C</th>
                <th class="text-info"><i class="bi bi-thermometer-snow"></i>°C</th>
                <th class="text-danger"><i class="bi bi-thermometer-sun"></i>°C</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{ row.year }}</td>
                <td>{{ row.springmin if row.springmin is not none else '' }}</td>
                <td>{{ row.springmax if row.springmax is not none else '' }}</td>
                <td>{{ row.summermin if row.summermin is not none else '' }}</td>
                <td>{{ row.summermax if row.summermax is not none else '' }}</td>
                <td>{{ row.autumnmin if row.autumnmin is not none else '' }}</td>
                <td>{{ row.autumnmax if row.autumnmax is not none else '' }}</td>
                <td>{{ row.wintermin if row.wintermin is not none else '' }}</td>
                <td>{{ row.wintermax if row.wintermax is not none else '' }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>In diesem Zeitraum wurden keine Daten für Station {{stationid}} gefunden.</p>
{% endif %}