{% if data %}
<table class="table" style="min-width:50vw">
    <thead>
        <tr class="sticky-top">
            <th>Jahr</th>
            <th>Minimum</th>
            <th>Maximum</th>
        </tr>
        <tr>
            <th></th>
            <th class="text-info text-right"><i class="bi bi-thermometer-snow"></i>°C</th>
            <th class="text-danger text-right"><i class="bi bi-thermometer-sun"></i>°C</th>
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
        <tr>
            <td class="text-right">{{ row.year }}</td>
            <td class="text-right">{{ row.min if row.min is not none else '-' }}</td>
            <td class="text-right">{{ row.max if row.max is not none else '-' }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <p>In diesem Zeitraum wurden keine Daten für Station {{stationid}} gefunden.</p>
{% endif %}